
<app-user-popup *ngIf="modoPopup !== 'CLOSED'" [estadoPopup] = "estadoPopup" [userId] = "selectedUserId"
                (cerrarPopUpOk)="onCerrarPopUpOk()"
                (cerrarPopUpCancel)="onCerrarPopUpCancel()"
/>

<header class = "header-container">
    <button class = "logout-button" (click)="logOut()">Log out</button>
</header>

<div class="user-list-container">

    <div class = "container-button">

        <button class = "button main-button" (click)="launchPopupCrear()">Crear</button>
        <button class = "button main-button" (click)="launchPopupActualizar()">Editar</button>
        <button class = "button main-button" (click)="launchPopupBorrar()"><img src = "assets/images/DeleteIcon.JPG" alt = "Borrar" class = "img-icon"></button>

    </div>
    <div class = "table-container-overflow">
        <table class = "user-table">

            <thead>

                <tr>

                    <th>SELECTED</th>
                    <th>Gender</th>
                    <th>username</th>
                    <th>Full Name</th>
                    <th>Creation</th>
                    <th>Age</th>
                    <th>Freakfast</th>
                    <th>Job Position</th>
                    <th>Main Address</th>
                    <th>Extra Addresses</th>
                </tr>
            </thead>

            <tbody>

                <tr *ngFor="let usuario of usuarios">

                    <td><input type = "radio" name = "selectedUser" [value] = "usuario.id" [(ngModel)] = "selectedUserId" ></td>
                    <td *ngIf="usuario.genero?.id === 1"><img src="assets/images/Male.JPG" alt = "{{ usuario.genero?.nombre }}" class = "img-gender"></td>
                    <td *ngIf="usuario.genero?.id === 2"><img src="assets/images/Female.JPG" alt = "{{ usuario.genero?.nombre }}" class="img-gender"></td>
                    <td>{{ usuario.nickUsuario }}</td>
                    <td>{{ usuario.primerApellido}} {{ usuario.segundoApellido}} , {{ usuario.nombre}}</td>
                    <td>{{ usuario.fechaHoraCreacion | date: 'yyyy-MM-dd HH:mm' }}</td>
                    <td>{{ calcularEdad(usuario.fechaNacimiento)}}</td>
                    <td>{{'1997-02-02T' + usuario.horaDesayuno | date: 'HH:mm'}}</td>
                    <td>{{ usuario.puestoTrabajo.nombre }}</td>
                    <td [title]="obtenerDireccionPrincipal(usuario)">
                        <span class="text-elipsis"> {{ obtenerDireccionPrincipal(usuario) }} </span>
                    </td>
                    <td>{{ calcularExtraAdress(usuario) }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
